In [1]:
#Some important libraries we need
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_df=pd.read_csv("train.csv")
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
train_df.shape

(1460, 81)

In [4]:
t_df1=train_df[["LotArea","Neighborhood","HouseStyle","FullBath","BedroomAbvGr","SalePrice"]].copy()
t_df1.head()

   LotArea Neighborhood HouseStyle  FullBath  BedroomAbvGr  SalePrice
0     8450      CollgCr     2Story         2             3     208500
1     9600      Veenker     1Story         2             3     181500
2    11250      CollgCr     2Story         2             3     223500
3     9550      Crawfor     2Story         1             3     140000
4    14260      NoRidge     2Story         2             4     250000

In [5]:
t_df1.groupby("Neighborhood")["Neighborhood"].agg("count")

Neighborhood
Blmngtn     17
Blueste      2
BrDale      16
BrkSide     58
ClearCr     28
CollgCr    150
Crawfor     51
Edwards    100
Gilbert     79
IDOTRR      37
MeadowV     17
Mitchel     49
NAmes      225
NPkVill      9
NWAmes      73
NoRidge     41
NridgHt     77
OldTown    113
SWISU       25
Sawyer      74
SawyerW     59
Somerst     86
StoneBr     25
Timber      38
Veenker     11
Name: Neighborhood, dtype: int64

In [6]:
t_df1.isnull().sum()

LotArea         0
Neighborhood    0
HouseStyle      0
FullBath        0
BedroomAbvGr    0
SalePrice       0
dtype: int64

In [7]:
t_df1["HouseStyle"].unique()

array(['2Story', '1Story', '1.5Fin', '1.5Unf', 'SFoyer', 'SLvl', '2.5Unf',
       '2.5Fin'], dtype=object)

In [8]:
t_df1.groupby("HouseStyle")["HouseStyle"].agg("count")

HouseStyle
1.5Fin    154
1.5Unf     14
1Story    726
2.5Fin      8
2.5Unf     11
2Story    445
SFoyer     37
SLvl       65
Name: HouseStyle, dtype: int64

In [9]:
tem=t_df1.HouseStyle
tem.head()

0    2Story
1    1Story
2    2Story
3    2Story
4    2Story
Name: HouseStyle, dtype: object

In [10]:
def splitl(words):
    return list(words)

In [14]:
tem1=[]
for x in range(len(tem)):
    tem1.append(splitl(tem[x])[0])

['2',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'S',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 'S',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 'S',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 'S',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 'S',
 '2',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '2',
 'S',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '2',
 'S',
 '1',
 'S',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 'S',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 'S',
 '2',
 'S',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '2',
 '1',
 '2',
 '1',
 'S',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '2',
 '2',
 '2',
 'S',
 '2',
 '2',
 '2',
 '1',
 'S',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'S',
 '2',
 'S',
 '1',
 'S',
 '2',
 '2',
 '2',
 '1',
 'S',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 'S',
 '2',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 'S',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1',
 '1',
 'S',
 '1',
 '1',
 '2',
 '1',
 '2',
 'S',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '2',
 'S',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 'S',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'S',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '2',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'S',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 'S',
 '2',
 '1',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 'S',
 '2',
 '1',
 '1',
 'S',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 'S',
 '1',
 '1',
 '2',
 'S',
 'S',
 '1',
 '1',
 'S',
 '2',
 '1',
 '1',
 '1',
 'S',
 '2',
 '1',
 '1',
 '1',
 'S',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '2',
 '2',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1',
 '2',
 'S',
 '2',
 '1',
 'S',
 'S',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1',
 '1',
 'S',
 '2',
 'S',
 '2',
 '1',
 '1',
 '1',
 'S',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 'S',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 'S',
 '2',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '2',
 '2',
 '1',
 'S',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'S',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1',
 '1',
 'S',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '2',
 'S',
 '1',
 'S',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'S',
 '1',
 '2',
 '1',
 'S',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 'S',
 '2',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1',
 '1',
 'S',
 '2',
 'S',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'S',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '2',
 '2',
 'S',
 '1',
 '1',
 'S',
 '2',
 '1',
 '1',
 'S',
 '1',
 '1',
 '2',
 'S',
 '1',
 '1',
 'S',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 'S',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '2',
 '1',
 '2',
 '1',
 '1',
 'S',
 '1',
 'S',
 '1',
 '2',
 '1',
 '1',
 '1',
 'S',
 '2',
 'S',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 'S',
 '1',
 '2',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 'S',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 ...]

In [17]:
t_df1["House_Storys"]=tem1

In [18]:
t_df1.head()

,LotArea,Neighborhood,HouseStyle,FullBath,BedroomAbvGr,SalePrice,House_Storys
0,8450,CollgCr,2Story,2,3,208500,2
1,9600,Veenker,1Story,2,3,181500,1
2,11250,CollgCr,2Story,2,3,223500,2
3,9550,Crawfor,2Story,1,3,140000,2
4,14260,NoRidge,2Story,2,4,250000,2

In [23]:
t_df1.groupby("House_Storys")["House_Storys"].agg("count")

House_Storys
1    894
2    464
S    102
Name: House_Storys, dtype: int64

In [28]:
df=t_df1[t_df1.House_Storys != "S"]

In [29]:
df.head()

,LotArea,Neighborhood,HouseStyle,FullBath,BedroomAbvGr,SalePrice,House_Storys
0,8450,CollgCr,2Story,2,3,208500,2
1,9600,Veenker,1Story,2,3,181500,1
2,11250,CollgCr,2Story,2,3,223500,2
3,9550,Crawfor,2Story,1,3,140000,2
4,14260,NoRidge,2Story,2,4,250000,2

In [30]:
df.shape

(1358, 7)

In [31]:
df.groupby("House_Storys")["House_Storys"].agg("count")

House_Storys
1    894
2    464
Name: House_Storys, dtype: int64

In [32]:
df =df.drop("HouseStyle",axis="columns")

In [33]:
df.head()

   LotArea Neighborhood  FullBath  BedroomAbvGr  SalePrice House_Storys
0     8450      CollgCr         2             3     208500            2
1     9600      Veenker         2             3     181500            1
2    11250      CollgCr         2             3     223500            2
3     9550      Crawfor         1             3     140000            2
4    14260      NoRidge         2             4     250000            2

In [36]:
df=df.astype({"House_Storys": "int"})

In [39]:
df.groupby("BedroomAbvGr")["BedroomAbvGr"].agg("count")

BedroomAbvGr
0      3
1     41
2    335
3    744
4    207
5     20
6      7
8      1
Name: BedroomAbvGr, dtype: int64

In [44]:
df.groupby("FullBath")["FullBath"].agg("count")

FullBath
0      5
1    587
2    736
3     30
Name: FullBath, dtype: int64